@model Mastery_Quotient.Models.EmployeeModelView
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/navigationStyle.css">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/AdminCRUDStyle.css">
    <link rel="stylesheet" href="../css/crudStyle.css">

    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />
    <title>Студенты</title>
    <div class="container">
        <a asp-action="main" asp-controller="admin">
            <img class="navigation_img" src="../images/3QpbYI-LogoMakr.png">
        </a>

        <ul class="navigation_ul">
            <li class="navigation_li"><a class="navigation_a" asp-action="MaterialsAdmin" asp-controller="Admin">Материалы</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="AdminTestView" asp-controller="Admin">Тесты</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="AdminPanel" asp-controller="AdminCRUD">Панель администратора</a></li>
        </ul>
        <ul class="navigation_ul_right">
            <li class="navigation_li_right" style="float: right">
                <a class="navigation_a_right" asp-action="AdminWindowTeacher" asp-controller="admin">Преподаватели</a>
            </li>
            <li class="navigation_li_right" style="float: right"><a class="navigation_a_right" asp-action="AdminWindowStudent" asp-controller="admin">Студенты</a></li>
        </ul>
        <button class="glow_button" onclick="window.location.href='@Url.Action("PersonalAccountAdmin", "admin")'">
            Личный кабинет
        </button>
    </div>

</head>

<body>
    <main>

        <div class="containerFormCRUD">
            <button class="newInputCRUD" onclick="window.location.href='@Url.Action("StudyGroupAdminPanel", "AdminCRUD")'">
                Учебные группы
            </button>
            <button class="newInputCRUD" onclick="window.location.href='@Url.Action("DisciplineAdminPanel", "AdminCRUD")'">
                Дисциплины
            </button>
            <button class="newInputCRUD" onclick="window.location.href='@Url.Action("TypeMaterialAdminPanel", "AdminCRUD")'">
                Типы материалов
            </button>

            <button class="newInputCRUD" onclick="window.location.href='@Url.Action("BackUpDatabase", "AdminCRUD")'">
                Создать резервную копию базы данных
            </button>
        </div>
        <br />

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Message"]
            </div>
        }
        <br />

        <div class="containerFormCRUD">

            <button class="newInputCRUD" onclick="window.location.href='@Url.Action("StudyGroupTeacher", "AdminCRUD")'">
                Учебные группы преподавателей
            </button>
            <button class="newInputCRUD" onclick="window.location.href='@Url.Action("DisciplineTeacher", "AdminCRUD")'">
                Дисциплины преподавателей
            </button>
            <button class="newInputCRUD" onclick="window.location.href='@Url.Action("DisciplineStudyGroup", "AdminCRUD")'">
                Дисциплины учебных групп
            </button>
            <button class="newInputCRUD" onclick="window.location.href='@Url.Action("Archive", "AdminCRUD")'">
                Архив
            </button>
        </div>
        <br/>
        <br />
        <br />
        <br />
        <div class="containerFormCRUD">
            <h2 style="text-align: center">Сотрудники</h2>
            <button class="newInputCRUD" onclick="window.location.href='@Url.Action("ArchiveStudent", "AdminCRUD")'">
                Студенты
            </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Электронная почта</th>
                    <th>Роль</th>
                    <th>Восстановить</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.Employees)
                {
                    var roleEmployee = Model.Roles.Find(n => n.IdRole == employee.RoleId).NameRole;
                    <tr>
                        <td>@employee.IdEmployee</td>
                        <td>@employee.SurnameEmployee</td>
                        <td>@employee.NameEmployee</td>
                        <td>@employee.MiddleNameEmployee</td>
                        <td>@employee.EmailEmployee</td>
                        <td>@roleEmployee</td>
                        <td>
                            <a asp-action="RecoverTeacher" asp-controller="AdminCRUD" asp-route-id="@employee.IdEmployee"><input type="image" width="50" height="50" src="../images/edit.png" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</body>

</html>

