@model Mastery_Quotient.Models.GroupModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="@Url.Content("~/css/AdminCRUDStyle.css")">
    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />
    <title>Изменение учебной группы</title>
</head>

<body>
    <main>
        <div class="form_updateCRUD">
            <form asp-antiforgery="true" asp-action="UpdateStudyGroup" asp-controller="AdminCRUD">
                @foreach (var item in Model.StudyGroups)
                {

                    var courseId = Model.Courses.Find(n => n.IdCourse == item.CourseId).IdCourse;
                    var courseNumber = Model.Courses.Find(n => n.IdCourse == item.CourseId).NumberCourse;



                    <label hidden>Код учебной группы</label>
                    <input class="CrudInputAdmin" type="text" readonly required name="idStudyGroup" value="@item.IdStudyGroup" placeholder="Код учебной группы" />
                    <label hidden>Название учебной группы</label>
                    <input class="CrudInputAdmin" type="text" required name="nameStudyGroup" value="@item.NameStudyGroup" placeholder="Название учебной группы" />
                    <label hidden>Курс</label>
                    <select class="CrudSelectAdmin" required id="courseId" name="courseId" placeholder="Курс">
                        <option value="@courseId">@courseNumber</option>
                        @foreach (var course in Model.Courses)
                        {
                            <option value="@course.IdCourse">@course.NumberCourse</option>
                        }
                    </select>
                    <input class="newCRUD" type="submit" value="Изменить параметр тестирования" />
                    
                
                }
            </form>
        </div>
        <br />

        @if (TempData["ErrorValidation"] != null)
        {
            <div class="alert alert-danger">

                @foreach (var errorMessage in (string[])TempData["ErrorValidation"])
                {
                    <p>@errorMessage</p>
                }
            </div>
        }  
        <br />

    </main>

</body>

</html>