@model Mastery_Quotient.Models.StudentMaterialModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/navigationStyle.css">
    <link rel="stylesheet" href="../css/materialStyle.css">
    <link rel="stylesheet" href="../css/crudStyle.css">
    <link rel="stylesheet" href="../css/footerStyle.css">

    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />
    <title>Материалы</title>
    <div class="container">
        <a asp-action="MainStudent" asp-controller="Student">
            <img class="navigation_img" src="../images/3QpbYI-LogoMakr.png">
        </a>
        <ul class="navigation_ul">
            <li class="navigation_li"><a class="navigation_a" asp-action="MainStudent" asp-controller="Student">Новости</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="MaterialStudent" asp-controller="Student">Материалы</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="TestStudent" asp-controller="Student">Тесты</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="MyTest" asp-controller="Student">Мои тестирования</a></li>
        </ul>
        <button class="glow_button" onclick="window.location.href='@Url.Action("PersonalAccountStudent", "student")'">
            Личный кабинет
        </button>
    </div>

</head>
<body>
    <main>
        <div class="containerForm">
            <form asp-antiforgery="true" class="formSearch" asp-action="MaterialStudent" asp-controller="Student">
                <input class="searchInput" type="text" name="Search" />
                <button class="searchImage" type="submit">
                    <img width="40" height="40" src="../images/icons8-лупа-64.png" />
                </button>
            </form>
            <form asp-antiforgery="true" class="formFiltr" asp-action="FiltrationMaterialStudent" asp-controller="Student">
                <select class="CrudSelect" required id="disciplineID" name="disciplineID" placeholder="Дисциплина">
                    <option selected disabled>Дисциплина</option>
                    @foreach (var disciplineStudyGroup in Model.DisciplineOfTheStudyGroups)
                    {
                        var idDiscipline = Model.Disciplines.Find(n => n.IdDiscipline == disciplineStudyGroup.DisciplineId)?.IdDiscipline;
                        @foreach (var discipline in Model.Disciplines.Where(n => n.IdDiscipline == idDiscipline))
                        {
                            <option value="@discipline.IdDiscipline">@discipline.NameDiscipline</option>
                        }
                    }

                </select>
                <select class="CrudSelect" required id="typeId" name="typeId" placeholder="Тип материала">
                    <option selected disabled>Тип материала</option>
                    @foreach (var type in Model.TypeMaterials)
                    {
                        <option value="@type.IdTypeMaterial">@type.NameTypeMaterial</option>
                    }
                </select>
                <button class="InputFiltr" type="submit">Фильтрация</button>

            </form>
        </div>
        <br />
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Message"]
            </div>
        }
        <br />

        <div class="formsContainer">
            @foreach(var disciplineStudyGroup in Model.DisciplineOfTheStudyGroups)
            {
                var idDiscipline = Model.Disciplines.Find(n => n.IdDiscipline == disciplineStudyGroup.DisciplineId)?.IdDiscipline;

                var idEmployee = Model.DisciplineOfTheEmployees.Find(n => n.DisciplineId == idDiscipline)?.EmployeeId;

                var surnameEmployee = Model.Employees.Find(n => n.IdEmployee == idEmployee)?.SurnameEmployee;

                var nameEmployee = Model.Employees.Find(n => n.IdEmployee == idEmployee)?.NameEmployee;

                var middleNameEmployee = Model.Employees.Find(n => n.IdEmployee == idEmployee)?.MiddleNameEmployee;

                var photoEmployee = Model.Employees.Find(n => n.IdEmployee == idEmployee)?.PhotoEmployee;

                
                @foreach (var item in Model.Materials.Where(n => n.DisciplineId == idDiscipline))
                {
                    
                    <div class="formMaterial">
                        <form asp-action="FileMaterial" asp-antiforgery="true" asp-controller="admin">

                            <input type="image" class="imageMaterial" width="187" height="177" src="@item.PhotoMaterial" />
                            <label class="nameMaterial">@item.NameMaterial</label>
                            <label style="word-wrap: break-word"><img class="photoEmployee" src="@photoEmployee" width="20" height="20" />
                                @surnameEmployee @nameEmployee @middleNameEmployee
                            </label>
                            <br/>
                            <input value="Подробнее" class="buttonMaterial" type="submit" />

                            <input hidden value="@item.FileMaterial" name="nameFile" />
                        </form>
                    </div>

                }
            }
            
        </div>


    </main>
    <br />
    <br />
    <br />
    <footer>
        <a asp-action="MainStudent" asp-controller="Student" class="divLogo">
            <h1>MastQuo</h1>
        </a>
        <div class="divForm">
            <div class="divMap">
                <h3>Карта сайта</h3>
                <div class="divFormMap">
                    <a asp-action="MainStudent" asp-controller="Student">
                        Новости
                    </a>
                    <a asp-action="MaterialStudent" asp-controller="Student">
                        Материалы
                    </a>
                    <a asp-action="TestStudent" asp-controller="Student">
                        Тесты
                    </a>
                    <a asp-action="MyTest" asp-controller="Student">
                        Мои тестирования
                    </a>

                </div>

            </div>
            <div class="divMap" style="float: right">
                <h3>Документация</h3>
                <div class="divFormDoc">

                    <a asp-action="PrivacyPolicy" asp-controller="Home">
                        Политика конфиденциальности
                    </a>
                </div>

            </div>
        </div>
        <div class="divMastQuo">
            © MastQuo, 2024
        </div>

    </footer>
</body>
</html>