@model Mastery_Quotient.Models.MyTestModelView
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/navigationStyle.css">
    <link rel="stylesheet" href="../css/TestStyle.css">
    <link rel="stylesheet" href="../css/ModalWindowStyle.css">
    <link rel="stylesheet" href="../css/crudStyle.css">
    <link rel="stylesheet" href="../css/footerStyle.css">

    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />
    <title>Тестирования</title>
    <div class="container">
        <a asp-action="MainStudent" asp-controller="Student">
            <img class="navigation_img" src="../images/3QpbYI-LogoMakr.png">
        </a>

        <ul class="navigation_ul">
            <li class="navigation_li"><a class="navigation_a" asp-action="MainStudent" asp-controller="Student">Новости</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="MaterialStudent" asp-controller="Student">Материалы</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="TestStudent" asp-controller="Student">Тесты</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="MyTest" asp-controller="Student">Мои тестирования</a></li>
        </ul>
       
        <button class="glow_button" onclick="window.location.href='@Url.Action("PersonalAccountStudent", "student")'">
            Личный кабинет
        </button>
    </div>

</head>
<body>
    <main>

        

        <table class="table">
            <thead>
                <tr>
                    <th>Название тестирования</th>
                    <th>Дата прохождения</th>
                    <th>Дисциплина</th>
                    <th>Результат</th>
                    <th>Срок сдачи</th>
                    <th>Мои ответы</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.StudentTest)
                {
                    var nameTest = Model.Tests.Find(n => n.IdTest == item.TestId).NameTest;
                    var disciplineTest = Model.Tests.Find(n => n.IdTest == item.TestId).DisciplineId;
                    var disciplineName = Model.Disciplines.Find(n => n.IdDiscipline == disciplineTest).NameDiscipline;
                    var deadlineTest = Model.Tests.Find(n => n.IdTest == item.TestId).Deadline;
                    var idTest = Model.Tests.Find(n => n.IdTest == item.TestId).IdTest;
                    var result = Model.TestQuestions.Count(n => n.TestId == idTest);
                    <tr>
                        <td>@nameTest</td>
                        <td>@item.DateCompleted</td>
                        <td>@disciplineName</td>
                        <td>@item.Result/@result</td>
                        @if(deadlineTest == null)
                        {
                            <td>Без срока сдачи</td>

                        }
                        else
                        {
                            <td>@deadlineTest</td>
                        }
                        <td>
                            <a asp-action="MyTestAnswer" asp-route-id="@item.TestId">Мои ответы</a>
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>


    </main>
    <footer>
        <a asp-action="MainStudent" asp-controller="Student" class="divLogo">
            <h1>MastQuo</h1>
        </a>
        <div class="divForm">
            <div class="divMap">
                <h3>Карта сайта</h3>
                <div class="divFormMap">
                    <a asp-action="MainStudent" asp-controller="Student">
                        Новости
                    </a>
                    <a asp-action="MaterialStudent" asp-controller="Student">
                        Материалы
                    </a>
                    <a asp-action="TestStudent" asp-controller="Student">
                        Тесты
                    </a>
                    <a asp-action="MyTest" asp-controller="Student">
                        Мои тестирования
                    </a>

                </div>

            </div>
            <div class="divMap" style="float: right">
                <h3>Документация</h3>
                <div class="divFormDoc">

                    <a asp-action="PrivacyPolicy" asp-controller="Home">
                        Политика конфиденциальности
                    </a>
                </div>

            </div>
        </div>
        <div class="divMastQuo">
            © MastQuo, 2024
        </div>

    </footer>
</body>
</html>