@model Mastery_Quotient.Models.ViewTestModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/navigationStyle.css">
    <link rel="stylesheet" href="../css/TestStyle.css">
    <link rel="stylesheet" href="../css/ModalWindowStyle.css">
    <link rel="stylesheet" href="../css/crudStyle.css">
    <link rel="stylesheet" href="../css/footerStyle.css">

    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />
    <title>Тестирования</title>
    <div class="container">
        <a asp-action="MainStudent" asp-controller="Student">
            <img class="navigation_img" src="../images/3QpbYI-LogoMakr.png">
        </a>

        <ul class="navigation_ul">
            <li class="navigation_li"><a class="navigation_a" asp-action="MainStudent" asp-controller="Student">Новости</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="MaterialStudent" asp-controller="Student">Материалы</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="TestStudent" asp-controller="Student">Тесты</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="MyTest" asp-controller="Student">Мои тестирования</a></li>
        </ul>
        <button class="glow_button" onclick="window.location.href='@Url.Action("PersonalAccountStudent", "student")'">
            Личный кабинет
        </button>
    </div>

</head>
<body>
    <main>
        <div class="h2Container">

        <div class="h2form">

                <h3>Название тестирования</h3>
                <h3>Дата создания тестирования</h3>
            <h3>Преподаватель</h3>
            <h3>Срок сдачи</h3>

        </div>
        <div class="h2form">

            <h3>@Model.Test.NameTest</h3>
            <h3>@Model.Test.DateCreatedTest</h3>
            <h3>@Model.Employee.SurnameEmployee @Model.Employee.NameEmployee @Model.Employee.MiddleNameEmployee</h3>
            <h3>@Model.Test.Deadline</h3>

        </div>
        </div>
        <hr />
        <br />
        <br />
        <br />
        <form asp-antiforgery="true" asp-action="TestSave" asp-controller="Student" method="post">
            @{
                int questionIndex = 0;
            }
            @foreach (var question in Model.TestQuestion)
            {

                var questionNumber = Model.Question.Find(n => n.IdQuestion == question.QuestionId)?.NumberQuestion;
                var questionName = Model.Question.Find(n => n.IdQuestion == question.QuestionId)?.NameQuestion;
                var questionTypeID = Model.Question.Find(n => n.IdQuestion == question.QuestionId)?.TypeQuestionId;

                var questionID = Model.Question.Find(n => n.IdQuestion == question.QuestionId)?.IdQuestion;

                <div class="formAnswer">
                    <div class="flexDiv">
                        <div class="number">
                            @questionNumber
                        </div>
                        <div class="name">
                            @questionName
                        </div>

                    </div>
                    <input hidden value="@questionTypeID" name="questionTypeID" />
                    <input hidden value="@questionID" name="questionID" />


                    @if (questionTypeID == 1)
                    {
                        <textarea class="textareaForm" name="userAnswers[@questionIndex].AnswerOption" placeholder="Введите ответ"></textarea>
                        <input type="hidden" name="userAnswers[@questionIndex].QuestionId" value="@questionID" />
                        <input type="hidden" name="userAnswers[@questionIndex].QuestionTypeId" value="@questionTypeID" />
                    }
                    @if (questionTypeID == 2)
                    {
                        <div class="AnswerForm">
                            @foreach (var answer in Model.QuestionAnswerOption.Where(n => n.QuestionId == questionID))
                            {
                                var answerContent = Model.AnswerOption.Find(n => n.IdAnswerOptions == answer.AnswerOptionsId)?.ContentAnswer;

                                <div class="Answer">
                                    <input type="radio" id="answer@(answer.AnswerOptionsId)" name="userAnswers[@questionIndex].SelectedAnswerId" value="@answer.AnswerOptionsId" />
                                    <label for="answer@(answer.AnswerOptionsId)">@answerContent</label>
                                </div>
                            }
                        </div>
                        <input type="hidden" name="userAnswers[@questionIndex].QuestionId" value="@questionID" />
                        <input type="hidden" name="userAnswers[@questionIndex].QuestionTypeId" value="@questionTypeID" />
                    }

                    @if (questionTypeID == 3)
                    {
                        <div class="AnswerForm">
                            @foreach (var answer in Model.QuestionAnswerOption.Where(n => n.QuestionId == questionID))
                            {
                                var answerContent = Model.AnswerOption.Find(n => n.IdAnswerOptions == answer.AnswerOptionsId)?.ContentAnswer;

                                <div class="Answer">
                                    <input type="checkbox" id="answer@(answer.AnswerOptionsId)" name="userAnswers[@questionIndex].SelectedAnswerIds" value="@answer.AnswerOptionsId" />
                                    <label for="answer@(answer.AnswerOptionsId)">@answerContent</label>
                                </div>
                            }
                        </div>
                        <input type="hidden" name="userAnswers[@questionIndex].QuestionId" value="@questionID" />
                        <input type="hidden" name="userAnswers[@questionIndex].QuestionTypeId" value="@questionTypeID" />

                    }

                </div>
                questionIndex++;

            }

            <input type="submit" class="newInputTest" value="Сохранить результаты" />

        </form>




    </main>
    <br />
    <br />
    <br />
    <footer>
        <a asp-action="MainStudent" asp-controller="Student" class="divLogo">
            <h1>MastQuo</h1>
        </a>
        <div class="divForm">
            <div class="divMap">
                <h3>Карта сайта</h3>
                <div class="divFormMap">
                    <a asp-action="MainStudent" asp-controller="Student">
                        Новости
                    </a>
                    <a asp-action="MaterialStudent" asp-controller="Student">
                        Материалы
                    </a>
                    <a asp-action="TestStudent" asp-controller="Student">
                        Тесты
                    </a>
                    <a asp-action="MyTest" asp-controller="Student">
                        Мои тестирования
                    </a>

                </div>

            </div>
            <div class="divMap" style="float: right">
                <h3>Документация</h3>
                <div class="divFormDoc">

                    <a asp-action="PrivacyPolicy" asp-controller="Home">
                        Политика конфиденциальности
                    </a>
                </div>

            </div>
        </div>
        <div class="divMastQuo">
            © MastQuo, 2024
        </div>

    </footer>
</body>
</html>