@model Mastery_Quotient.Models.TestViewTeacher
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/navigationStyle.css">
    <link rel="stylesheet" href="../css/TestStyle.css">
    <link rel="stylesheet" href="../css/ModalWindowStyle.css">
    <link rel="stylesheet" href="../css/crudStyle.css">

    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />

    <title>Тесты</title>
    <div class="container">
        <a asp-action="main" asp-controller="admin">
            <img class="navigation_img" src="../images/3QpbYI-LogoMakr.png">
        </a>

        <ul class="navigation_ul">
            <li class="navigation_li"><a class="navigation_a" asp-action="News">Новости</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="MaterialsAdmin">Материалы</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="AdminTestView">Тесты</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="PanelAdmin">Панель администратора</a></li>
        </ul>
        <ul class="navigation_ul_right">
            <li class="navigation_li_right" style="float: right">
                <a class="navigation_a_right" asp-action="AdminWindowTeacher" asp-controller="admin">Преподаватели</a>
            </li>
            <li class="navigation_li_right" style="float: right"><a class="navigation_a_right" asp-action="AdminWindowStudent" asp-controller="admin">Студенты</a></li>
        </ul>
        <button class="glow_button" onclick="window.location.href='@Url.Action("PersonalAccountAdmin", "admin")'">
            Личный кабинет
        </button>
    </div>
</head>

<body>
    <main>

        <div class="formsContainer">
            @foreach (var item in Model.Test)
            {

                    <div class="divTestForm">
                        <form asp-action="AdminTestView" asp-antiforgery="true" asp-controller="Admin">
                            <div>
                                <form id="deleteForm" asp-controller="Test" asp-action="DeleteTest" method="post">
                                    <input type="hidden" value="@item.IdTest" name="IdTest" />
                                    <button class="image_button" width="50" height="50" type="button">
                                        <img>
                                    </button>
                                </form>
                                <input name="testId" hidden value="@item.IdTest" />
                                <label class="labelTest">@item.NameTest</label>
                                <label class="labelTest">Дата создания: @string.Format("{0:dd.MM.yyyy}", @item.DateCreatedTest)</label>
                                <input value="Просмотреть тестирование" class="buttonTest" type="submit" />

                            </div>
                        </form>
                    </div>

                
            }
        </div>

        







       @*  <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Вы уверены, что хотите архивировать эту запись?</p>
                <form id="deleteForm" asp-controller="Test" asp-action="DeleteTest" method="post">
                    <input type="hidden" id="IdTest" name="IdTest" />
                    <button id="confirmDeleteBtnModal" class="newInput">Да</button>
                    <button id="confirmBack" class="newInput">Отмена</button>
                </form>
            </div>
        </div>

        <script>
            // Получаем ссылки на элементы DOM
            var modal = document.getElementById('myModal'); // Получаем модальное окно по его id
            var confirmDeleteBtn = document.getElementById('confirmDeleteBtnModal'); // Получаем кнопку подтверждения удаления
            var confirmBackBtn = document.getElementById('confirmBack'); // Получаем кнопку отмены
            var IdTestInput = document.getElementById('IdTest'); // Получаем скрытое поле для id
            var closeButton = document.querySelector('.modal-content .close');


            // Добавляем обработчик события к кнопкам удаления
            document.querySelectorAll('.image_button').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    // При нажатии кнопки удаления открываем модальное окно
                    modal.style.display = 'block';
                    // Устанавливаем значение скрытого поля IdTestInput равным id  из соответствующей строки таблицы
                    IdTestInput.value = btn.closest('div').querySelector('[name="IdTest"]').value;
                });
            });

            // Обработчик события для кнопки "Отмена"
            confirmBackBtn.onclick = function () {
                // Предотвращаем отправку формы при нажатии кнопки "Отмена"
                event.preventDefault();
                // При нажатии кнопки "Отмена" закрываем модальное окно
                modal.style.display = "none";
            };

            closeButton.onclick = function () {
                modal.style.display = "none";
            };

            // Обработчик события для клика по области за пределами модального окна
            window.onclick = function (event) {
                // Если пользователь кликнул вне модального окна, закрываем его
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };

        </script> *@
    </main>

</body>

</html>