@model Mastery_Quotient.Models.TestViewTeacher
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/navigationStyle.css">
    <link rel="stylesheet" href="../css/TestStyle.css">
    <link rel="stylesheet" href="../css/ModalWindowStyle.css">
    <link rel="stylesheet" href="../css/crudStyle.css">
    <link rel="stylesheet" href="../css/footerStyle.css">

    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />

    <title>Тесты</title>
    <div class="container">
        <a asp-action="MaterialsAdmin" asp-controller="Admin">
            <img class="navigation_img" src="../images/3QpbYI-LogoMakr.png">
        </a>

        <ul class="navigation_ul">
             <li class="navigation_li"><a class="navigation_a" asp-action="MaterialsAdmin" asp-controller="Admin">Материалы</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="AdminTestView" asp-controller="Admin">Тесты</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="AdminPanel" asp-controller="AdminCRUD">Панель администратора</a></li>
        </ul>
        <ul class="navigation_ul_right">
            <li class="navigation_li_right" style="float: right">
                <a class="navigation_a_right" asp-action="AdminWindowTeacher" asp-controller="admin">Преподаватели</a>
            </li>
            <li class="navigation_li_right" style="float: right"><a class="navigation_a_right" asp-action="AdminWindowStudent" asp-controller="admin">Студенты</a></li>
        </ul>
        <button class="glow_button" onclick="window.location.href='@Url.Action("PersonalAccountAdmin", "admin")'">
            Личный кабинет
        </button>
    </div>
</head>

<body>
    <main>
        <div class="containerForm">
            <form asp-antiforgery="true" asp-action="AdminTestView" asp-controller="Admin">
                <input class="searchInput" type="text" name="Search" />
                <button class="searchImage" type="submit">
                    <img width="40" height="40" src="../images/icons8-лупа-64.png" />
                </button>
            </form>
            <form asp-antiforgery="true" asp-action="FiltrationTest" asp-controller="Admin">
                <select class="CrudSelect" required id="disciplineID" name="disciplineID" placeholder="Дисциплина">
                    <option selected disabled>Дисциплина</option>
                    @foreach (var discipline in Model.Disciplines)
                    {
                        <option value="@discipline.IdDiscipline">@discipline.NameDiscipline</option>
                    }
                </select>
                <button class="InputFiltr" type="submit">Фильтрация</button>

            </form>
        </div>
        <br />
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Message"]
            </div>
        }
        <br />

        <div class="formsContainer">
            @foreach (var item in Model.Test)
            {
                @if (item.Active == 0)
                {
                    <div class="divTestForm">
                        <form asp-action="AdminOneTestView" asp-antiforgery="true" asp-controller="Admin">
                            <div>
                                <input name="testId" hidden value="@item.IdTest" />

                                <div class="labelTest" style="font-weight: bold">@item.NameTest</div>
                                <br />
                                <div class="labelTest">Дата создания: @string.Format("{0:dd.MM.yyyy}", @item.DateCreatedTest)</div>
                                <input value="Просмотреть тестирование" class="buttonTest" type="submit" />

                            </div>
                        </form>
                    </div>
                }


            }
        </div>


    </main>
    <br />
    <br />
    <br />
    <footer>
        <a asp-action="MaterialsAdmin" asp-controller="Admin" class="divLogo">
            <h1>MastQuo</h1>
        </a>
        <div class="divForm">
            <div class="divMap">
                <h3>Карта сайта</h3>
                <div class="divFormMap">
                    <a asp-action="MaterialsAdmin" asp-controller="Admin">
                        Материалы
                    </a>
                    <a asp-action="AdminTestView" asp-controller="Admin">
                        Тесты
                    </a>
                    <a asp-action="AdminPanel" asp-controller="AdminCRUD">
                        Панель администратора
                    </a>

                </div>

            </div>
            <div class="divMap" style="float: right">
                <h3>Документация</h3>
                <div class="divFormDoc">

                    <a asp-action="PrivacyPolicy" asp-controller="Home">
                        Политика конфиденциальности
                    </a>
                </div>

            </div>
        </div>
        <div class="divMastQuo">
            © MastQuo, 2024
        </div>

    </footer>
</body>

</html>