@model Mastery_Quotient.Models.EmployeeModelView
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="@Url.Content("~/css/crudStyle.css")">
    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />
    <title>Изменение преподавателя</title>
</head>

<body>
    <main>
        <div class="form_new">
            <form asp-antiforgery="true" asp-action="UpdateTeacher" asp-controller="Admin">
                @foreach (var employee in Model.Employees)
                {
                    <input type="password" hidden required name="passwordUser" value="@employee.PasswordEmployee" placeholder="Пароль" />
                    <input type="password" hidden required name="saltUser" value="@employee.SaltEmployee" placeholder="Соль" />
                    <label hidden>Введите код</label>
                    <input type="text" required name="IdUser" class="CrudInput"  readonly hidden value="@employee.IdEmployee" placeholder="" />
                    <br />

                    <label hidden>Введите фамилию</label>
                    <input type="text" required name="surnameUser" class="CrudInput" value="@employee.SurnameEmployee" placeholder="Фамилия" />
                    <br />
                    <label hidden>Введите имя</label>
                    <input type="text" required name="nameUser" class="CrudInput" value="@employee.NameEmployee" placeholder="Имя" />
                    <br />
                    <label hidden>Введите отчество</label>
                    <input type="text" required name="middleNameUser" class="CrudInput" value="@employee.MiddleNameEmployee" placeholder="Отчество" />
                    <br />
                    <label hidden>Введите электронную почту</label>
                    
                    <input type="email" required name="emailUser" class="CrudInput" value="@employee.EmailEmployee" placeholder="Электронная почта" />
                   


                    <label hidden>Выберите роль</label>
                    <br />

                }

                <select required id="roleUser" class="CrudSelect" name="roleUser" placeholder="Роль">
                    <option selected disabled>Роль</option>
                    @foreach (var role in Model.Roles)
                    {
                        <option value="@role.IdRole">@role.NameRole</option>
                    }
                </select>
                <br />
                <input class="newInput" type="submit" value="Изменить сотрудника" />



            </form>
        </div>
        

    </main>



</body>

</html>