@model Mastery_Quotient.Models.StudentModelView
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Url.Content("~/css/mainStyle.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/footerStyle.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/crudStyle.css")">
    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />
    <title>Изменение студента</title>
</head>

<body>
    <main>
        <div class="form_update">
            <form asp-antiforgery="true" asp-action="UpdateStudent" asp-controller="Admin">
                @foreach (var student in Model.Students)
                {

                    var studyGroupName = Model.StudyGroups.Find(n => n.IdStudyGroup == student.StudyGroupId)?.NameStudyGroup;
                    <label hidden>Введите код</label>
                    <input type="text" required name="idUser" class="CrudInput" hidden value="@student.IdStudent" placeholder="Код" />
                    <br />

                    <label hidden>Введите фамилию</label>
                    <input type="text" required name="surnameUser" class="CrudInput" value="@student.SurnameStudent" placeholder="Фамилия" />
                    <br />
                    <label hidden>Введите имя</label>
                    <input type="text" required name="nameUser" class="CrudInput"  value="@student.NameStudent" placeholder="Имя" />
                    <br />
                    <label hidden>Введите отчество</label>
                    <input type="text" required name="middleNameUser" class="CrudInput" value="@student.MiddleNameStudent" placeholder="Отчество" />
                    <label hidden>Введите электронную почту</label>
                    <br />
                    <input type="email" required name="emailUser" class="CrudInput"  value="@student.EmailStudent" placeholder="Электронная почта" />
                    <label hidden>Выберите учебную группу</label>
                    <br />
                

                <select required id="studyGroupUser" name="studyGroupUser" class="CrudSelectMaterial" placeholder="Учебная группа">
                        <option value="@student.StudyGroupId">@studyGroupName</option>

                    @foreach (var group in Model.StudyGroups)
                    {
                        <option value="@group.IdStudyGroup">@group.NameStudyGroup</option>
                    }
                </select>
                <br />
                <input class="newInput" type="submit" value="Изменить студента" />

                }

            </form>


            <br />

            @if (TempData["ErrorValidation"] != null)
            {
                <div class="alert alert-danger">

                    @foreach (var errorMessage in (string[])TempData["ErrorValidation"])
                    {
                        <p>@errorMessage</p>
                    }
                </div>
            }
            <br />
        </div>
        


    </main>
    <br />
    <br />
    <br />
    <footer>
        <a asp-action="MaterialsAdmin" asp-controller="Admin" class="divLogo">
            <h1>MastQuo</h1>
        </a>
        <div class="divForm">
            <div class="divMap">
                <h3>Карта сайта</h3>
                <div class="divFormMap">
                    <a asp-action="MaterialsAdmin" asp-controller="Admin">
                        Материалы
                    </a>
                    <a asp-action="AdminTestView" asp-controller="Admin">
                        Тесты
                    </a>
                    <a asp-action="AdminPanel" asp-controller="AdminCRUD">
                        Панель администратора
                    </a>

                </div>

            </div>
            <div class="divMap" style="float: right">
                <h3>Документация</h3>
                <div class="divFormDoc">

                    <a asp-action="PrivacyPolicy" asp-controller="Home">
                        Политика конфиденциальности
                    </a>
                </div>

            </div>
        </div>
        <div class="divMastQuo">
            © MastQuo, 2024
        </div>

    </footer>

</body>

</html>