@model Mastery_Quotient.Models.ViewTestModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/navigationStyle.css">
    <link rel="stylesheet" href="../css/crudStyle.css">
    <link rel="stylesheet" href="../css/TestStyle.css">
    <link rel="stylesheet" href="../css/ModalWindowStyle.css">
    <link rel="stylesheet" href="../css/footerStyle.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="../js/QuestionScript.js"></script>
    <script src="../js/DeleteTeacherContent.js"></script>


    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />
    <title>Добавление вопросов</title>
    <div class="container">
        <a asp-action="MaterialsTeacher" asp-controller="Teacher">
            <img class="navigation_img" src="../images/3QpbYI-LogoMakr.png">
        </a>

        <ul class="navigation_ul">
            <li class="navigation_li"><a class="navigation_a" asp-action="MaterialsTeacher" asp-controller="Teacher">Материалы</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="TestTeacher" asp-controller="Test">Тесты</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="TestDone" asp-controller="Test">Тестирования студентов</a></li>
        </ul>
        <ul class="navigation_ul_right">
            <li class="navigation_li_right" style="float: right">
                <a class="navigation_a_right" asp-action="TeacherWindowMaterial" asp-controller="teacher">Создать материал</a>
            </li>
            <li class="navigation_li_right" style="float: right"><a class="navigation_a_right" asp-action="TeacherWindowTest" asp-controller="Test">Создать тест</a></li>
        </ul>
        <button class="glow_button" onclick="window.location.href='@Url.Action("PersonalAccountTeacher", "teacher")'">
            Личный кабинет
        </button>
    </div>

</head>
<body>
    <main>
        <div class="h2Container">
            <div class="h2form">

                <h3>Название теста</h3>
                <h3>Дата создания теста</h3>
                <h3>Преподаватель</h3>
                <h3>Срок сдачи</h3>

            </div>
            <div class="h2form">

                <h3>@Model.Test.NameTest</h3>
                <h3>@Model.Test.DateCreatedTest</h3>
                <h3>@Model.Employee.SurnameEmployee @Model.Employee.NameEmployee @Model.Employee.MiddleNameEmployee</h3>
                <h3>@Model.Test.Deadline</h3>

            </div>
        </div>


        <hr />
        <br />
        <br />
        <br />
        @if (@Model.Test.Active == 1)
        {
            <div class="slider">
                <div class="formSlider">
                    <h2>Добавление вопроса</h2>
                    <form asp-antiforgery="true" asp-action="QuestionInput" asp-controller="Test" method="post">
                        <h3>Вопрос с письменным вариантом ответа</h3>
                        <input name="numberQuestion" required class="CrudInput" type="number" placeholder="Номер вопроса" />
                        <input name="nameQuestion" required class="CrudInput" placeholder="Название вопроса" />

                        <input name="typeQuestion" hidden value="Письменный вопрос" />



                        <input type="submit" class="newInputTest" value="Добавить вопрос" />
                    </form>
                </div>
                <div class="formSlider">
                    <h2>Добавление вопроса</h2>
                    <form asp-antiforgery="true" asp-action="QuestionOne" asp-controller="Test" method="post">
                        <h3>Вопрос с одним вариантом ответа</h3>
                        <input name="numberQuestion" required class="CrudInput" type="number" placeholder="Номер вопроса" />
                        <input name="nameQuestion" required class="CrudInput" placeholder="Название вопроса" />

                        <input name="typeQuestion" hidden value="Вопрос с одним вариантом ответа" />

                        <div id="answerOptionsRadio" class="formInput">
                        </div>
                        <button type="button" id="addAnswerOptionRadio" class="buttonPlus">+</button>


                        <input type="submit" class="newInputTest" value="Добавить вопрос" />

                    </form>
                </div>

                <div class="formSlider">
                    <h2>Добавление вопроса</h2>
                    <form asp-antiforgery="true" asp-action="QuestionTwo" asp-controller="Test" method="post">
                        <h3>Вопрос с несколькими вариантами ответа</h3>
                        <input name="numberQuestion" required class="CrudInput" type="number" placeholder="Номер вопроса" />
                        <input name="nameQuestion" required class="CrudInput" placeholder="Название вопроса" />

                        <input name="typeQuestion" hidden value="Вопрос с несколькими вариантами ответа" />

                        <div id="answerOptionsCheck" class="formInput">
                        </div>
                        <button type="button" id="addAnswerOptionCheck" class="buttonPlus">+</button>

                        <input type="submit" class="newInputTest" value="Добавить вопрос" />
                    </form>
                </div>
            </div>
        }
        <br />
        @if (TempData["ErrorValidation"] != null)
        {
            <div class="alert alert-danger">

                @foreach (var errorMessage in (string[])TempData["ErrorValidation"])
                {
                    <p>@errorMessage</p>
                }
            </div>
        }
        <br />
        @if (TempData["MessageValidation"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["MessageValidation"]
            </div>
        }
        <br />

        @foreach (var question in Model.TestQuestion)
        {
            var questionNumber = Model.Question.Find(n => n.IdQuestion == question.QuestionId)?.NumberQuestion;
            var questionName = Model.Question.Find(n => n.IdQuestion == question.QuestionId)?.NameQuestion;
            var questionTypeID = Model.Question.Find(n => n.IdQuestion == question.QuestionId)?.TypeQuestionId;

            var questionID = Model.Question.Find(n => n.IdQuestion == question.QuestionId)?.IdQuestion;

            <div class="formAnswer">
                <div class="flexDiv">
                    <div class="number">
                        @questionNumber
                    </div>
                    <div class="name">
                        @questionName
                    </div>
                    <div class="button-container">
                        <div class="test_button">

                            <form id="deleteForm" asp-controller="Test" asp-action="DeleteQuestion" method="post">
                                <input type="hidden" value="@question.IdTestQuestion" name="IdTestQuestion" />
                                <input type="hidden" name="IdQuestion" value="@questionID" />
                                <input type="hidden" value="@questionTypeID" name="questionTypeID" />
                                <button class="image_button" width="50" height="50" type="button">
                                    <img>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>


                @if (questionTypeID == 1)
                {
                    <textarea class="textareaForm" name="AnswerOptionViewModels[@questionID].AnswerOption" placeholder="Введите ответ"></textarea>
                }
                @if (questionTypeID == 2)
                {
                    <div class="AnswerForm">
                        @foreach (var answer in Model.QuestionAnswerOption.Where(n => n.QuestionId == questionID))
                        {
                            var answerContent = Model.AnswerOption.Find(n => n.IdAnswerOptions == answer.AnswerOptionsId)?.ContentAnswer;

                            <div class="Answer">
                                <input type="radio" id="answer@(answer.AnswerOptionsId)" name="AnswerOptionViewModels[@questionID].SelectedAnswer" value="@answer.AnswerOptionsId" />
                                <label for="answer@(answer.AnswerOptionsId)">@answerContent</label>
                            </div>
                        }
                    </div>

                }
                @if (questionTypeID == 3)
                {
                    <div class="AnswerForm">
                        @foreach (var answer in Model.QuestionAnswerOption.Where(n => n.QuestionId == questionID))
                        {
                            var answerContent = Model.AnswerOption.Find(n => n.IdAnswerOptions == answer.AnswerOptionsId)?.ContentAnswer;

                            <div class="Answer">
                                <input type="checkbox" id="answer@(answer.AnswerOptionsId)" name="AnswerOptionViewModels[@questionID].SelectedAnswer" value="@answer.AnswerOptionsId" />
                                <label for="answer@(answer.AnswerOptionsId)">@answerContent</label>
                            </div>
                        }
                    </div>

                }
            </div>
        }
        @if (@Model.Test.Active == 1)
        {
            <form asp-antiforgery="true" asp-action="TestPublication" asp-controller="Test" method="post">
                <input type="submit" class="newInputTest" value="Опубликовать тестирование" />

            </form>
        }



        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Вы уверены, что хотите удалить этот вопрос?</p>
                <form id="deleteForm" asp-controller="Test" asp-action="DeleteQuestion" method="post">
                    <input type="hidden" id="IdTestQuestion" name="IdTestQuestion" />
                    <input type="hidden" id="IdQuestion" name="IdQuestion" />
                    <input type="hidden" id="questionTypeID" name="questionTypeID" />
                    <button id="confirmDeleteBtnModal" class="newInput">Да</button>
                    <button id="confirmBack" class="newInput">Отмена</button>
                </form>
            </div>
        </div>

        <script>
            var modal = document.getElementById('myModal'); // Получаем модальное окно по его id
            var confirmDeleteBtn = document.getElementById('confirmDeleteBtnModal'); // Получаем кнопку подтверждения удаления
            var confirmBackBtn = document.getElementById('confirmBack'); // Получаем кнопку отмены
            var IdTestQuestionInput = document.getElementById('IdTestQuestion'); // Получаем скрытое поле для id
            var closeButton = document.querySelector('.modal-content .close');
            var IdQuestionInput = document.getElementById('IdQuestion'); // Получаем скрытое поле для id
            var questionTypeIDInput = document.getElementById('questionTypeID'); // Получаем скрытое поле для id



            // Добавляем обработчик события к кнопкам удаления
            document.querySelectorAll('.image_button').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    // При нажатии кнопки удаления открываем модальное окно
                    modal.style.display = 'block';
                    // Устанавливаем значение скрытого поля равным id  из соответствующей строки
                    IdTestQuestionInput.value = btn.closest('div').querySelector('[name="IdTestQuestion"]').value;
                    IdQuestionInput.value = btn.closest('div').querySelector('[name="IdQuestion"]').value;
                    questionTypeIDInput.value = btn.closest('div').querySelector('[name="questionTypeID"]').value;

                });
            });

            // Обработчик события для кнопки "Отмена"
            confirmBackBtn.onclick = function () {
                // Предотвращаем отправку формы при нажатии кнопки "Отмена"
                event.preventDefault();
                // При нажатии кнопки "Отмена" закрываем модальное окно
                modal.style.display = "none";
            };

            closeButton.onclick = function () {
                modal.style.display = "none";
            };

            // Обработчик события для клика по области за пределами модального окна
            window.onclick = function (event) {
                // Если пользователь кликнул вне модального окна, закрываем его
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };
        </script>

    </main>
    <br />
    <br />
    <br />
    <footer>
        <a asp-action="MaterialsTeacher" asp-controller="Teacher" class="divLogo">
            <h1>MastQuo</h1>
        </a>
        <div class="divForm">
            <div class="divMap">
                <h3>Карта сайта</h3>
                <div class="divFormMap">
                    <a asp-action="MaterialsTeacher" asp-controller="Teacher">
                        Материалы
                    </a>
                    <a asp-action="TestTeacher" asp-controller="Test">
                        Тесты
                    </a>
                    <a asp-action="TestDone" asp-controller="Test">
                        Тестирования студентов
                    </a>

                </div>

            </div>
            <div class="divMap" style="float: right">
                <h3>Документация</h3>
                <div class="divFormDoc">

                    <a asp-action="PrivacyPolicy" asp-controller="Home">
                        Политика конфиденциальности
                    </a>
                </div>

            </div>
        </div>
        <div class="divMastQuo">
            © MastQuo, 2024
        </div>

    </footer>
</body>
</html>