 @model Mastery_Quotient.Models.MyTestAnswerModelView
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Url.Content("~/css/mainStyle.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/navigationStyle.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/TestStyle.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/crudStyle.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/footerStyle.css")">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />
    <title>Проверка тестирования</title>
    <div class="container">
        <a asp-action="MaterialsTeacher" asp-controller="Teacher">
            <img class="navigation_img" src="@Url.Content("~/images/3QpbYI-LogoMakr.png")">
        </a>

        <ul class="navigation_ul">
            <li class="navigation_li"><a class="navigation_a" asp-action="MaterialsTeacher" asp-controller="Teacher">Материалы</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="TestTeacher" asp-controller="Test">Тесты</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="TestDone" asp-controller="Test">Тестирования студентов</a></li>
        </ul>
        <ul class="navigation_ul_right">
            <li class="navigation_li_right" style="float: right">
                <a class="navigation_a_right" asp-action="TeacherWindowMaterial" asp-controller="teacher">Создать материал</a>
            </li>
            <li class="navigation_li_right" style="float: right"><a class="navigation_a_right" asp-action="TeacherWindowTest" asp-controller="Test">Создать тест</a></li>
        </ul>
        <button class="glow_button" onclick="window.location.href='@Url.Action("PersonalAccountTeacher", "teacher")'">
            Личный кабинет
        </button>
    </div>

</head>
<body>
    <main>


        <div class="h2form">
            <h3>Проверка теста: @Model.Test.NameTest</h3>
        </div>

        @for (int i = 0; i < Model.Answers.Count; i++)
        {
            var test = Model.Answers[i];
            var questionID = Model.TestQuestions.Find(n => n.TestId == Model.Test.IdTest && n.IdTestQuestion == test.TestQuestionId).QuestionId;
            var questionNumber = Model.Questions.Find(n => n.IdQuestion == questionID).NumberQuestion;
            var questionName = Model.Questions.Find(n => n.IdQuestion == questionID).NameQuestion;
            var questionTypeID = Model.Questions.Find(n => n.IdQuestion == questionID).TypeQuestionId;

            <div class="formAnswer">
                <div class="flexDiv">
                    <div class="number">
                        @questionNumber
                    </div>
                    <div class="name">
                        @questionName
                    </div>
                </div>

                @if (questionTypeID == 1)
                {
                    <textarea class="textareaForm" readonly placeholder="Введите ответ">@test.ContentAnswer</textarea>
                    <input type="number" name="Answers[@i].Score" max="1" min="0" value="0" data-question-id="@questionID" class="score-input" />
                }
                @if (questionTypeID == 2)
                {
                    <div class="AnswerForm">
                        @foreach (var answer in Model.QuestionAnswerOptions.Where(n => n.QuestionId == questionID && n.IdQuestionAnswerOptions == test.QuestionAnswerOptionsId))
                        {
                            var answerContent = Model.AnswerOptions.Find(n => n.IdAnswerOptions == answer.AnswerOptionsId).ContentAnswer;
                            <div class="Answer">
                                <input type="radio" disabled checked value="@answer.AnswerOptionsId" />
                                @answerContent
                            </div>
                        }
                        <input type="number" name="Answers[@i].Score" max="1" min="0" value="0" data-question-id="@questionID" class="score-input" />
                    </div>
                }
                @if (questionTypeID == 3)
                {
                    <div class="AnswerForm">
                        @foreach (var answer in Model.QuestionAnswerOptions.Where(n => n.QuestionId == questionID && n.IdQuestionAnswerOptions == test.QuestionAnswerOptionsId))
                        {
                            var answerContent = Model.AnswerOptions.Find(n => n.IdAnswerOptions == answer.AnswerOptionsId).ContentAnswer;
                            <div class="Answer">
                                <input type="checkbox" disabled checked value="@answer.AnswerOptionsId" />
                                @answerContent
                            </div>
                        }
                        <input type="number" name="Answers[@i].Score" max="1" min="0" value="0" data-question-id="@questionID" class="score-input" />
                    </div>
                }
            </div>
        }
        <form asp-antiforgery="true" asp-action="SaveResult" asp-controller="Test" method="post">
            <div class="h2form">
                <h3>Результат: <span id="result" name="Result">0</span> из @Model.TestQuestions.Count(n => n.TestId == Model.Test.IdTest)</h3>
            </div>
            <input type="hidden" name="Result" id="result-input" value="0" />
            <input type="hidden" name="StudentTestID" value="@Model.StudentTests.Find(n => n.TestId == Model.Test.IdTest).IdStudentTest"/>
            <input type="submit" class="buttonTest" value="Сохранить результаты"></input>
        </form>
        


        <script>
            $(document).ready(function () {
                var questionScores = {};

                // Инициализация объекта questionScores
                $("input[name^='Answers'].score-input").each(function () {
                    var questionId = $(this).data('question-id');
                    if (!questionScores[questionId]) {
                        questionScores[questionId] = [];
                    }
                    questionScores[questionId].push($(this));
                });

                // Обновление полей ввода баллов и результата при изменении значения в любом из полей ввода баллов
                $("input[name^='Answers'].score-input").on('input', function () {
                    var questionId = $(this).data('question-id');
                    var score = parseInt($(this).val()) || 0;
                    if (score < 0) {
                        score = 0;
                    }
                    if (score > 1) {
                        score = 1;
                    }
                    questionScores[questionId].forEach(function (input) {
                        input.val(score);
                    });
                    updateResult();
                });

                // Обновление поля результата перед отправкой формы
                $("form").on("submit", function () {
                    var result = $("#result").text();
                    $("#result-input").val(result);
                });

                // Обновление поля результата
                function updateResult() {
                    var result = 0;
                    var questionIds = Object.keys(questionScores);
                    questionIds.forEach(function (questionId) {
                        var questionScore = questionScores[questionId][0].val() || 0;
                        result += parseInt(questionScore, 10);
                    });
                    $("#result").text(result);
                }

                // Обновление поля результата при загрузке страницы
                updateResult();
            });


        </script>
    </main>
   
        
    <footer>
        <a asp-action="MaterialsTeacher" asp-controller="Teacher" class="divLogo">
            <h1>MastQuo</h1>
        </a>
        <div class="divForm">
            <div class="divMap">
                <h3>Карта сайта</h3>
                <div class="divFormMap">
                    <a asp-action="MaterialsTeacher" asp-controller="Teacher">
                        Материалы
                    </a>
                    <a asp-action="TestTeacher" asp-controller="Test">
                        Тесты
                    </a>
                    <a asp-action="TestDone" asp-controller="Test">
                        Тестирования студентов
                    </a>

                </div>

            </div>
            <div class="divMap" style="float: right">
                <h3>Документация</h3>
                <div class="divFormDoc">

                    <a asp-action="PrivacyPolicy" asp-controller="Home">
                        Политика конфиденциальности
                    </a>
                </div>

            </div>
        </div>
        <div class="divMastQuo">
            © MastQuo, 2024
        </div>

    </footer>

</body>
</html> 