@model Mastery_Quotient.Models.TestTeacher
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/navigationStyle.css">
    <link rel="stylesheet" href="../css/crudStyle.css">
    <link rel="stylesheet" href="../css/TestStyle.css">



    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />
    <title>Добавление теста</title>
    <div class="container">
        <a asp-action="MainTeacher" asp-controller="teacher">
            <img class="navigation_img" src="../images/3QpbYI-LogoMakr.png">
        </a>

        <ul class="navigation_ul">
            <li class="navigation_li"><a class="navigation_a" asp-action="News">Новости</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="MaterialsTeacher">Материалы</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="TestTeacher" asp-controller="Test">Тесты</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="Rating">Рейтинг</a></li>
        </ul>
        <ul class="navigation_ul_right">
            <li class="navigation_li_right" style="float: right">
                <a class="navigation_a_right" asp-action="TeacherWindowMaterial" asp-controller="teacher">Создать материал</a>
            </li>
            <li class="navigation_li_right" style="float: right"><a class="navigation_a_right" asp-action="TeacherWindowTest" asp-controller="Test">Создать тест</a></li>
        </ul>
        <button class="glow_button" onclick="window.location.href='@Url.Action("PersonalAccountTeacher", "teacher")'">
            Личный кабинет
        </button>
    </div>

</head>
<body>
    <main>
        <div class="form_new">
            <form asp-antiforgery="true" asp-action="TeacherWindowTest" asp-controller="Test" method="post">
                <input name="nameTest" class="CrudInput" placeholder="Название теста" />

                <select required id="parameterTest" name="parameterTest" class="CrudSelect" placeholder="Параметр тестирования">
                    <option selected disabled>Параметр тестирования</option>
                    @foreach (var test in Model.TestParameters)
                    {
                        <option value="@test.IdTestParameter">@test.NameParameter - @test.ValueParameter</option>
                    }
                </select>
                <select required id="disciplineTest" name="disciplineTest" class="CrudSelect" placeholder="Дисциплина">
                    <option selected disabled>Дисциплина</option>
                    @foreach (var discipline in Model.DisciplineEmployees)
                    {
                        var disciplinesID = Model.Disciplines.Find(n => n.IdDiscipline == discipline.DisciplineId).IdDiscipline;
                        var disciplinesName = Model.Disciplines.Find(n => n.IdDiscipline == discipline.DisciplineId).NameDiscipline;

                        <option value="@disciplinesID">@disciplinesName</option>
                    }
                </select>
                <div class="divForm">
                    <input name="deadlineCheck" type="checkbox" id="deadlineCheck" value="true"  class="CrudInput" placeholder="Без срока сдачи" />
                    <label for="deadlineCheck">Без срока сдачи</label>

                </div>


                <input name="deadlineDate" type="date" id="deadlineDate" class="CrudInput" placeholder="Срок сдачи" />


                <input type="submit" class="newInput" value="Создать тест" />
            </form>
        </div>

        



    </main>

</body>
</html>