@model Mastery_Quotient.Models.TestViewTeacher
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/navigationStyle.css">
    <link rel="stylesheet" href="../css/TestStyle.css">
    <link rel="stylesheet" href="../css/ModalWindowStyle.css">
    <link rel="stylesheet" href="../css/crudStyle.css">

    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />

    <title>Тесты</title>
    <div class="container">
        <a asp-action="MainTeacher" asp-controller="teacher">
            <img class="navigation_img" src="../images/3QpbYI-LogoMakr.png">
        </a>

        <ul class="navigation_ul">
            <li class="navigation_li"><a class="navigation_a" asp-action="News" asp-controller="Teacher">Новости</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="MaterialsTeacher" asp-controller="Teacher">Материалы</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="TestTeacher" asp-controller="Test">Тесты</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="Rating" asp-controller="Teacher">Рейтинг</a></li>
        </ul>
        <ul class="navigation_ul_right">
            <li class="navigation_li_right" style="float: right">
                <a class="navigation_a_right" asp-action="TeacherWindowMaterial" asp-controller="teacher">Создать материал</a>
            </li>
            <li class="navigation_li_right" style="float: right"><a class="navigation_a_right" asp-action="TeacherWindowTest" asp-controller="Test">Создать тест</a></li>
        </ul>
        <button class="glow_button" onclick="window.location.href='@Url.Action("PersonalAccountTeacher", "teacher")'">
            Личный кабинет
        </button>
    </div>
</head>

<body>
    <main>
        <div class="containerForm">
            <form asp-antiforgery="true" asp-action="TestTeacher" asp-controller="Test">
                <input class="searchInput" type="text" name="Search" />
                <button class="searchImage" type="submit">
                    <img width="40" height="40" src="../images/icons8-лупа-64.png" />
                </button>
            </form>
            <form asp-antiforgery="true" asp-action="FiltrationTest" asp-controller="Test">
                <select class="CrudSelect" required id="disciplineID" name="disciplineID" placeholder="Дисциплина">
                    <option selected disabled>Дисциплина</option>
                    @foreach (var discipline in Model.Disciplines)
                    {
                        <option value="@discipline.IdDiscipline">@discipline.NameDiscipline</option>
                    }
                </select>
                <select class="CrudSelect" required id="parameterId" name="parameterId" placeholder="Параметр тестирования">
                    <option selected disabled>Параметр тестирования</option>
                    @foreach (var parameter in Model.TestParameters)
                    {
                        <option value="@parameter.IdTestParameter">@parameter.NameParameter</option>
                    }
                </select>
                <button class="InputFiltr" type="submit">Фильтрация</button>

            </form>
        </div>
        <h1>Активные тестирования</h1>
        <div class="formsContainer">
            @foreach (var item in Model.Test)
            {
                @if (item.Active == 0)
                {

                    <div class="divTestForm">
                        <form asp-action="QuestionTest" asp-antiforgery="true" asp-controller="Test">
                            <div>
                                <form id="deleteForm" asp-controller="Test" asp-action="DeleteTest" method="post">
                                    <input type="hidden" value="@item.IdTest" name="IdTest" />
                                    <button class="image_button" width="50" height="50" type="button">
                                        <img>
                                    </button>
                                </form>
                                <input name="testId" hidden value="@item.IdTest" />
                                <label class="labelTest">@item.NameTest</label>
                                <label class="labelTest">Дата создания: @string.Format("{0:dd.MM.yyyy}", @item.DateCreatedTest)</label>
                                <input value="Просмотреть тестирование" class="buttonTest" type="submit" />

                            </div>
                        </form>
                    </div>

                }
            }
        </div>
        
        <h1>Неактивные тестирования</h1>
        <div class="formsContainer">
            @foreach (var item in Model.Test)
            {
                if (item.Active == 1)
                {
                    <div class="divTestForm">
                        <form asp-action="QuestionTest" asp-antiforgery="true" asp-controller="Test">
                            <div>
                                <input name="testId" hidden value="@item.IdTest" />
                                <label class="labelTest">@item.NameTest</label>
                                <label class="labelTest">Дата создания: @string.Format("{0:dd.MM.yyyy}", @item.DateCreatedTest)</label>
                                <input value="Добавить вопрос" class="buttonTest" type="submit" />

                            </div>
                        </form>
                    </div>



                }
            }
        </div>







        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Вы уверены, что хотите архивировать эту запись?</p>
                <form id="deleteForm" asp-controller="Test" asp-action="DeleteTest" method="post">
                    <input type="hidden" id="IdTest" name="IdTest" />
                    <button id="confirmDeleteBtnModal" class="newInput">Да</button>
                    <button id="confirmBack" class="newInput">Отмена</button>
                </form>
            </div>
        </div>

        <script>
            // Получаем ссылки на элементы DOM
            var modal = document.getElementById('myModal'); // Получаем модальное окно по его id
            var confirmDeleteBtn = document.getElementById('confirmDeleteBtnModal'); // Получаем кнопку подтверждения удаления
            var confirmBackBtn = document.getElementById('confirmBack'); // Получаем кнопку отмены
            var IdTestInput = document.getElementById('IdTest'); // Получаем скрытое поле для id
            var closeButton = document.querySelector('.modal-content .close');


            // Добавляем обработчик события к кнопкам удаления
            document.querySelectorAll('.image_button').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    // При нажатии кнопки удаления открываем модальное окно
                    modal.style.display = 'block';
                    // Устанавливаем значение скрытого поля IdTestInput равным id  из соответствующей строки таблицы
                    IdTestInput.value = btn.closest('div').querySelector('[name="IdTest"]').value;
                });
            });

            // Обработчик события для кнопки "Отмена"
            confirmBackBtn.onclick = function () {
                // Предотвращаем отправку формы при нажатии кнопки "Отмена"
                event.preventDefault();
                // При нажатии кнопки "Отмена" закрываем модальное окно
                modal.style.display = "none";
            };

            closeButton.onclick = function () {
                modal.style.display = "none";
            };

            // Обработчик события для клика по области за пределами модального окна
            window.onclick = function (event) {
                // Если пользователь кликнул вне модального окна, закрываем его
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };

        </script>
    </main>

</body>

</html>