@model Mastery_Quotient.Models.TestViewTeacher
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Url.Content("~/css/mainStyle.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/TestStyle.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/crudStyle.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/footerStyle.css")">

    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />

    <script src="~/js/site.js"></script>

    <title>Изменение тестирования</title>
</head>

<body>
    <main>
        <div class="form_new">
            <form asp-antiforgery="true" asp-action="UpdateTest" asp-controller="Test">
                @foreach (var test in Model.Test)
                {

                    var parameterName = Model.TestParameters.Find(n => n.IdTestParameter == test.TestParameterId)?.NameParameter;
                    var parameterValue = Model.TestParameters.Find(n => n.IdTestParameter == test.TestParameterId)?.ValueParameter;
                    var disciplineNameUpdate = Model.Disciplines.Find(n => n.IdDiscipline == test.DisciplineId)?.NameDiscipline;

                    <input name="IdTest" class="CrudInput" hidden readonly placeholder="Код тестирования" value="@test.IdTest" />
                    <input name="NameTest" type="text" class="CrudInput" placeholder="Название тестирования" value="@test.NameTest" />

                    <input name="DateCreatedTest" readonly class="CrudInput" value="@test.DateCreatedTest" />
                    <label class="CrudLabel">Введите срок сдачи</label>
                    <br />
                    <input name="deadlineDate" type="date" id="deadlineDate" class="CrudInput" placeholder="Срок сдачи" />

                    <div class="divForm">
                        <input name="deadlineCheck" type="checkbox" id="deadlineCheck" value="true" placeholder="Без срока сдачи" />
                        <label for="deadlineCheck">Без срока сдачи</label>
                    </div>


                    <select required id="disciplineTest" name="disciplineTest" class="CrudSelect" placeholder="Дисциплина">
                        <option value="@test.DisciplineId">@disciplineNameUpdate</option>

                        @foreach (var discipline in Model.DisciplineEmployees)
                        {
                            var disciplinesID = Model.Disciplines.Find(n => n.IdDiscipline == discipline.DisciplineId)?.IdDiscipline;
                            var disciplinesName = Model.Disciplines.Find(n => n.IdDiscipline == discipline.DisciplineId)?.NameDiscipline;
                            var disciplinesCourse = Model.Disciplines.Find(n => n.IdDiscipline == discipline.DisciplineId)?.CourseId;

                            <option value="@disciplinesID">@disciplinesName @disciplinesCourse курс</option>
                        }
                    </select>

                    <input type="submit" class="newInput" value="Изменить тестирование" />
                }
            </form>
        </div>
        @if(TempData["Error"] != null)
        {
            <div class="alert alert-danger">
                <p>@TempData["Error"]</p>
            </div>
        }

        @if (TempData["ErrorValidation"] != null)
        {
            <div class="alert alert-danger">

                @foreach (var errorMessage in (string[])TempData["ErrorValidation"])
                {
                    <p>@errorMessage</p>
                }
            </div>
        }
        <br />
    </main>
    <br />
    <br />
    <br />
    <footer>
        <a asp-action="MaterialsTeacher" asp-controller="Teacher" class="divLogo">
            <h1>MastQuo</h1>
        </a>
        <div class="divForm">
            <div class="divMap">
                <h3>Карта сайта</h3>
                <div class="divFormMap">
                    <a asp-action="MaterialsTeacher" asp-controller="Teacher">
                        Материалы
                    </a>
                    <a asp-action="TestTeacher" asp-controller="Test">
                        Тесты
                    </a>
                    <a asp-action="TestDone" asp-controller="Test">
                        Тестирования студентов
                    </a>

                </div>

            </div>
            <div class="divMap" style="float: right">
                <h3>Документация</h3>
                <div class="divFormDoc">

                    <a asp-action="PrivacyPolicy" asp-controller="Home">
                        Политика конфиденциальности
                    </a>
                </div>

            </div>
        </div>
        <div class="divMastQuo">
            © MastQuo, 2024
        </div>

    </footer>

</body>

</html>