@model Mastery_Quotient.Models.ViewTestModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Url.Content("~/css/mainStyle.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/TestStyle.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/crudStyle.css")">
    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />
    <title>Изменение вопроса</title>

</head>
<body>
    <main>
        <form asp-action="UpdateQuestion" asp-antiforgery="true" asp-controller="Test">
            @foreach (var question in Model.TestQuestion)
            {
                var questionNumber = Model.Question.Find(n => n.IdQuestion == question.QuestionId).NumberQuestion;
                var questionName = Model.Question.Find(n => n.IdQuestion == question.QuestionId).NameQuestion;
                var questionTypeID = Model.Question.Find(n => n.IdQuestion == question.QuestionId).TypeQuestionId;

                var questionID = Model.Question.Find(n => n.IdQuestion == question.QuestionId).IdQuestion;

                <div class="formAnswer">
                    <div class="flexDiv">
                        <div class="number">
                            <input name="numberQuestion" value="@questionNumber" />
                        </div>
                        <div class="name">
                            <input name="nameQuestion" value="@questionName" />
                        </div>

                    </div>


                    @if (questionTypeID == 1)
                    {
                        <textarea class="textareaForm" readonly name="AnswerOptionViewModels[@questionID].AnswerOption" placeholder="Введите ответ"></textarea>
                    }
                    @if (questionTypeID == 2)
                    {
                        <div class="AnswerForm">
                            @foreach (var answer in Model.QuestionAnswerOption.Where(n => n.QuestionId == questionID))
                            {
                                var answerContent = Model.AnswerOption.Find(n => n.IdAnswerOptions == answer.AnswerOptionsId).ContentAnswer;

                                <div class="Answer">
                                    <input type="radio" name="AnswerOptionViewModels[@questionID].SelectedAnswer" value="@answer.AnswerOptionsId" />
                                    <input name="AnswerOptionViewModels[@questionID].SelectedAnswer" required value="@answerContent" />
                                </div>
                            }
                        </div>

                    }
                    @if (questionTypeID == 3)
                    {
                        <div class="AnswerForm">
                            @foreach (var answer in Model.QuestionAnswerOption.Where(n => n.QuestionId == questionID))
                            {
                                var answerContent = Model.AnswerOption.Find(n => n.IdAnswerOptions == answer.AnswerOptionsId).ContentAnswer;

                                <div class="Answer">
                                    <input type="checkbox" name="AnswerOptionViewModels[@questionID].SelectedAnswer" value="@answer.AnswerOptionsId" />
                                    <input name="AnswerOptionViewModels[@questionID].SelectedAnswer" required value="@answerContent" />
                                </div>
                            }
                        </div>

                    }
                </div>
            }
            <input type="submit" class="newInputTest" value="Изменить вопрос" />
        </form>
        

        @if (TempData["ErrorValidation"] != null)
        {
            <div class="alert alert-danger">

                @foreach (var errorMessage in (string[])TempData["ErrorValidation"])
                {
                    <p>@errorMessage</p>
                }
            </div>
        }
        <br />
        @if (TempData["MessageValidation"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["MessageValidation"]
            </div>
        }
        <br />





    </main>

</body>
</html>