@model Mastery_Quotient.Models.EmployeePersonalAccountModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/navigationStyle.css">
    <link rel="stylesheet" href="../css/personalAccountStyle.css">
    <link rel="stylesheet" href="../css/ModalWindowStyle.css">

    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />
    <title>Личный кабинет</title>
    <div class="container">
        <a asp-action="MainTeacher" asp-controller="teacher">
            <img class="navigation_img" src="../images/3QpbYI-LogoMakr.png">
        </a>

        <ul class="navigation_ul">
            <li class="navigation_li"><a class="navigation_a" asp-action="News">Новости</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="MaterialsTeacher">Материалы</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="TestTeacher" asp-controller="Test">Тесты</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="Rating">Рейтинг</a></li>
        </ul>
        <ul class="navigation_ul_right">
            <li class="navigation_li_right" style="float: right">
                <a class="navigation_a_right" asp-action="TeacherWindowMaterial" asp-controller="teacher">Создать материал</a>
            </li>
            <li class="navigation_li_right" style="float: right"><a class="navigation_a_right" asp-action="TeacherWindowTest" asp-controller="Test">Создать тест</a></li>
        </ul>
        <button class="glow_button" onclick="window.location.href='@Url.Action("PersonalAccountTeacher", "teacher")'">
            Личный кабинет
        </button>
    </div>

</head>
<body>
        <main>
            <div></div>
            <div class="container">
                <div class="form_photo">
                    <img class="photo" src="@Model.Employee.PhotoEmployee"  width="50" height="50" />
                    <div class="div_photo">
                        <a href="#" id="openModalLink">Изменить фото</a>
                    </div>
                    <div class="div_info">@Model.Employee.SurnameEmployee</div>
                    <div class="div_info">@Model.Employee.NameEmployee</div>
                    <div class="div_info">@Model.Employee.MiddleNameEmployee</div>
                    <input class="personalAccount_glow_button" type="submit" value="Изменить пароль" />
                    <a href="@Url.Action("Logout")"><button class="personalAccount_glow_button">Выйти из аккаунта</button></a>
                </div>
                <div class="form">



                    <h1 class="h1Auto">Личные данные</h1>
                    <form asp-antiforgery="true" asp-action="PersonalAccountTeacher" asp-controller="Teacher">
                        <br />
                        <input class="personalAccountInput" type="text" required name="surnameUser" value="@Model.Employee.SurnameEmployee" placeholder="Фамилия" />
                        <br />

                        <label hidden>Имя</label>
                        <br />
                        <input class="personalAccountInput" type="text" required name="nameUser" value="@Model.Employee.NameEmployee" placeholder="Имя" />
                        <br />

                        <label hidden>Отчество</label>
                        <br />
                        <input class="personalAccountInput" type="text" required value="@Model.Employee.MiddleNameEmployee" name="middleNameUser"
                               placeholder="Отчество" />
                        <br />

                        <label hidden>Введите электронную почту</label>
                        <br />
                        <input class="personalAccountInput" type="email" value="@Model.Employee.EmailEmployee" required name="emailUser" placeholder="Электронная почта" />
                        <br />
                        <input hidden value="@Model.Employee.PasswordEmployee" name="passwordUser" />
                        <label hidden>Выберите роль</label>
                        <br />
                        <input class="personalAccountInput" type="text" value="@Model.Role.NameRole" readonly required name="roleUser" placeholder="Роль" />
                        <input hidden value="@Model.Employee.SaltEmployee" name="saltUser" />
                        <input class="personalAccount_glow_button" type="submit" value="Изменить" />

                    </form>



                </div>

            </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Выберите файл</p>
                <form id="uploadForm" asp-antiforgery="true" asp-controller="teacher" asp-action="UpdatePhoto" method="post" enctype="multipart/form-data">
                    <input type="file" id="fileInput" name="photo" accept="image/*"  />
                    <button type="submit" class="newInput">Сохранить</button>
                </form>
            </div>
        </div>


    </main>
    <script>
        // Получаем ссылки на элементы DOM
        var modal = document.getElementById('myModal');
        var openModalLink = document.getElementById('openModalLink');
        var closeButton = document.querySelector('.modal-content .close');

        // Обработчик события для клика по ссылке
        openModalLink.onclick = function () {
            modal.style.display = "block";
        };

        // Закрываем модальное окно при клике на кнопку закрытия
        closeButton.onclick = function () {
            modal.style.display = "none";
        };

        // Закрываем модальное окно при клике вне его области
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
    </script>


</body>
</html>