@model Mastery_Quotient.Models.MaterialTeacher
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainStyle.css">
    <link rel="stylesheet" href="../css/navigationStyle.css">
    <link rel="stylesheet" href="../css/crudStyle.css">

    <link href="https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
          rel="stylesheet" />
    <title>Добавление материала</title>
    <div class="container">
        <a asp-action="MaterialsTeacher" asp-controller="Teacher">
            <img class="navigation_img" src="../images/3QpbYI-LogoMakr.png">
        </a>

        <ul class="navigation_ul">
            <li class="navigation_li"><a class="navigation_a" asp-action="MaterialsTeacher" asp-controller="Teacher">Материалы</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="TestTeacher" asp-controller="Test">Тесты</a></li>
            <li class="navigation_li"><a class="navigation_a" asp-action="TestDone" asp-controller="Test">Тестирования студентов</a></li>
        </ul>
        <ul class="navigation_ul_right">
            <li class="navigation_li_right" style="float: right">
                <a class="navigation_a_right" asp-action="TeacherWindowMaterial" asp-controller="teacher">Создать материал</a>
            </li>
            <li class="navigation_li_right" style="float: right"><a class="navigation_a_right" asp-action="TeacherWindowTest" asp-controller="Test">Создать тест</a></li>
        </ul>
        <button class="glow_button" onclick="window.location.href='@Url.Action("PersonalAccountTeacher", "teacher")'">
            Личный кабинет
        </button>
    </div>

</head>
<body>
    <main>
        <div class="form_new">
            <form asp-antiforgery="true" asp-action="TeacherWindowMaterial" asp-controller="teacher" enctype="multipart/form-data">
                <input name="nameMaterial" class="CrudInput" placeholder="Название материала" />
                <label class="CrudLabel">Выберите файл материала или введите ссылку на видеоматериал</label>
                <input name="file" type="file" class="CrudInput" placeholder="Выберите файл материала" />
                <input name="videoMaterial" class="CrudInput" placeholder="Ссылка на видео" />

                <label class="CrudLabel">Выберите фото материала</label>

                <input name="filePhoto" type="file" class="CrudInput" placeholder="Выберите фото материала" />

                <select required id="typeMaterial" name="typeMaterial" class="CrudSelectMaterial" placeholder="Тип материала">
                    <option selected disabled>Тип материала</option>
                    @foreach (var typeMaterial in Model.TypeMaterials)
                    {
                        <option value="@typeMaterial.IdTypeMaterial">@typeMaterial.NameTypeMaterial</option>
                    }
                </select>
                <select required id="disciplineMaterial" name="disciplineMaterial" class="CrudSelectMaterial" placeholder="Дисциплина">
                    <option selected disabled>Дисциплина</option>
                    @foreach (var discipline in Model.DisciplineEmployees)
                    {
                        var disciplinesID = Model.Disciplines.Find(n => n.IdDiscipline == discipline.DisciplineId).IdDiscipline;
                        var disciplinesName = Model.Disciplines.Find(n => n.IdDiscipline == discipline.DisciplineId).NameDiscipline;

                        <option value="@disciplinesID">@disciplinesName</option>
                    }
                </select>

                <input type="submit" class="newInput" value="Создать материал"/>
            </form>
        </div>
        <br />
        @if (TempData["ErrorValidation"] != null)
        {
            <div class="alert alert-danger">

                @foreach (var errorMessage in (string[])TempData["ErrorValidation"])
                {
                    <p>@errorMessage</p>
                }
            </div>
        }
        <br />


        

    </main>

</body>
</html>